*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  list-style-type: none;
}


.flex-center {
  justify-content: center;
  align-items: center;
}

.title, h1 {
  margin: 0 auto;
  text-align: center;
  padding-right: 1050px;
  padding-left: 40px;
}

.title h1 {
  font-size: 50px;
}

.senha {
  font-size: 20rem;
  height: 40vh;
  background-color: cadetblue;
  color: white;
  padding-right: 450px;

}

.alerta-senha {
  color: white;
  animation: alertBG 5s infinite;
}

@keyframes alertBG {
  0% {
    background-color: #10c018;
  }
  25% {
    background-color: #1056c0;
  }
  50% {
    background-color: #10c018;
  }
  75% {
    background-color: #254878;
  }
  100% {
    background-color: #10c018;
  }
}

.container {
  padding-top: 5px;
  max-width: 250px;
  border-radius: 20px;
  margin-left: 10px

  
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}




/*  INPUT DE GRID */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns:600px 600px 600px;
}
