<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>

    <div class="wrapper">
      <div>

        <div class="title"><h1>Atendimento 01</h1></div>
        <div class="container senha" id="bg">
          <div id="senha">00</div>
       </div>
        <audio id="campainha" hidden>
        <source src="/sound/bell.wav" type="audio/wav" />
       </audio>
       <script src="/js/painel.js"></script>

      </div>

      <div>
        
    <div class="title"><h1>Atendimento 02</h1></div>
        <div class="container senha" id="bg">
          <div id="senha2">00</div>
       </div>
        <audio id="campainha" hidden>
        <source src="/sound/bell.wav" type="audio/wav" />
       </audio>
       <script src="/js/painel.js"></script>

   </div>
      <div>

        <div class="title"><h1>Atendimento 03</h1></div>
        <div class="container senha" id="bg">
          <div id="senha2">00</div>
       </div>
        <audio id="campainha" hidden>
        <source src="/sound/bell.wav" type="audio/wav" />
       </audio>
       <script src="/js/painel.js"></script>


      </div>
      <div>
        
        <div class="title"><h1>Negociação</h1></div>
        <div class="container senha" id="bg">
          <div id="senha2">00</div>
       </div>
        <audio id="campainha" hidden>
        <source src="/sound/bell.wav" type="audio/wav" />
       </audio>
       <script src="/js/painel.js"></script>

      </div>

      <div>
        
        <div class="title"><h1>Negociação</h1></div>
        <div class="container senha" id="bg">
          <div id="senha2">00</div>
       </div>
        <audio id="campainha" hidden>
        <source src="/sound/bell.wav" type="audio/wav" />
       </audio>
       <script src="/js/painel.js"></script></div>
   </div>

   <div>
        
    <div class="title"><h1>Negociação</h1></div>
    <div class="container senha" id="bg">
      <div id="senha2">00</div>
   </div>
    <audio id="campainha" hidden>
    <source src="/sound/bell.wav" type="audio/wav" />
   </audio>
   <script src="/js/painel.js"></script></div>
</div>

   
   


     

  </body>

</html>
